
@{
}
<h3>Lista de servicios</h3>
<br/>
<hr/>
<table class="table - table-responsive">
	<thead>
		<tr>Trasient</tr>
		<tr>Ids</tr>
	</thead>
	<tbody>
		<tr>
			<th>Trasient</th>
			<th>@ViewBag.trasientID</th>
			<th>@ViewBag.trasientID2</th>
		</tr>

		<tr>
			<th>Scoped</th>
			<th>@ViewBag.scopedID</th>
			<th>@ViewBag.scopedID2</th>
		</tr>

		<tr>
			<th>Singelton</th>
			<th>@ViewBag.singeltonID</th>
			<th>@ViewBag.singeltonID2</th>
		</tr>

	</tbody>
</table>
